<p id="notice"><%= notice %></p>

<h1>Event Category Lists</h1>

<table>
  <thead>
    <tr>
      <th>イベントカテゴリーID</th>
      <th>イベントカテゴリー名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_category_lists.each do |event_category_list| %>
      <tr>
        <td><%= event_category_list.id %></td>
        <td><%= event_category_list.event_category_name %></td>
        <td><%= link_to 'Show', event_category_list %></td>
        <td><%= link_to 'Edit', edit_event_category_list_path(event_category_list) %></td>
         <%# 
         <td><%= link_to 'Destroy', event_category_list, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいイベントを作る', new_event_category_list_path %>
